.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 36px;
}

.grid-container > a {
  text-decoration: none;
}

.grid-container > a:visited {
  color: inherit;
}