nav {
  display: flex;
  height: 60px;
  width: 100%;
  background: #f7f2ee;
  align-items: center;
  padding: 0 55px;
  flex-wrap: wrap;
}

nav .logo {
  color: #010101;
  font-size: 35px;
  font-weight: 700;
}

nav div ul {
  list-style-type: none;
}

nav div ul li {
  display: inline;
}

li a {
  text-decoration: none;
  padding: 8px 16px;
  color: #010101;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

li a:hover{
  color: #404040;
  background-color: #ffffff;
}

.nav-left {
  flex: 1;
}

.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}